*{
    margin:0px;
    padding: 0px;
    background-color: black;
}
.hero_section{
    width: 100%;
    overflow: hidden;  
    display: flex; 
    justify-content: center;
}
.hero_section video{
    max-height: 700px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
