{%load static%}
{% include "navbar.html"%}
{% include "herosection.html"%}
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/static/home.css?{% now "U" %}"/>
    <!-- custom font link-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400&family=Manrope:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,500;1,500&display=swap" rel="stylesheet">


  </head>
  <body>
    <div class="container-fluid tagline_div">
        <pre class="display-1 pre_tag">play
        and
                Earn
        </pre>
        <h1 class="h3 h1_tag">"Level Up Your Victory at GamersZone: Where Champions Rise!"</h1>
    </div>
    <div class="container-fluid tournament_showcase_div">
      <div class="tournament">
        <h1 class="display-6">Tournament Starts in </h1>
        <p id="timer" class="display-2 timer"></p>
        <h2 class="display-6 prize">Prize Pool            INR ₹  20000000 </h2>
        <button class=" join_tournament">Join Tournamnet</button>
      </div>
    </div>
    <div class="container-fluid tournament_showcase_div">
        <h1 class="display-6 gamelist_h1">Join the Action: Our Collection of Competitive Games </h1>
        <div class="  game_div">
          <div class="  freefire">
            <img src="{%static "images/game_list_images/ff.webp " %}">
            <h1 class="display-6 ff_h1">Freefire</h1>
            <p class="ff_p">Survival of the fittest takes on a fiery new meaning in the intense battlegrounds of Free Fire.<p>
          </div>
          <div class="  freefire">
            <img src="{%static "images/game_list_images/pubgg.webp " %}">
            <h1 class="display-6 ff_h1">PUBG</h1>
            <p class="ff_p">Survival of the fittest takes on a fiery new meaning in the intense battlegrounds of Free Fire.<p>
          </div>
          <div class="  freefire cod">
            <img src="{%static "images/game_list_images/codd.webp " %}">
            <h1 class="display-6 ff_h1">Call Of Duty</h1>
            <p class="ff_p">Survival of the fittest takes on a fiery new meaning in the intense battlegrounds of Free Fire.<p>
          </div>
        </div>
    </div>
    <div class="container-fluid earnmoney_div">
      <div class="earnmoney_h1">
        <h1 class="display-4 normal">Play <b class="green">Games</b> Earn <b class="green">Money</b></h1>
        <h2 class="display-6 normal">Daily tournaments worth Rs. <b class="red_h2">1 lakhs+<b> everyday!</h2>
      </div>
      <div class="money">
        <img class="character_img" src="{%static "images/ch-removebg-preview.webp" %}">
        <img class="money_img" src="{%static "images/cash-removebg-preview.webp" %}">
        <img class="character_img" src="{%static "images/ff_character.webp" %}">
      </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();
      
      // Update the count down every 1 second
      var x = setInterval(function() {
      
        // Get today's date and time
        var now = new Date().getTime();
      
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
      
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
      
        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "EXPIRED";
        }
      }, 1000);
      </script>
      
  </body>
</html>
