{%load static%}
{% include "navbar.html"%}
{% include "herosection.html"%}
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "home.css" %}">
    <!-- custom font link-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400&family=Manrope:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,500;1,500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid tagline_div">
        <pre class="display-1 pre_tag">play
        and
                Earn
        </pre>
        <h1 class="h3 h1_tag">"Level Up Your Victory at GamersZone: Where Champions Rise!"</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
