{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "landingpage.css" %}">

    <!-- custom font link-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400&family=Manrope:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,500;1,500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid main_div">
        <div class="main_h1">
            <h1 class="display-3">Gamerszone</h1>
        </div>
        <div class="p">
            <p class="h5">Gamerszone is a 18+ Tournament/Esports website where you can play tournament and earn money.
                By entering and using this website you agree to the <u>Terms of Use</u> and <u>Privacy Policy.</u></p>
        </div>
        <button class="gamerszone_btn h5">Enter Gamerszone</button>
        <p class="h5 exit_p">If you are not 18+ then please leave this website</p>
            <button class="exit_btn h5">Leave</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>